
<div class="flex gap-5 px-5 pt-10">
    {{#each products}}
        <div class=" w-full flex">
            <div class="bg-white rounded-lg shadow-lg">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/330px-No-Image-Placeholder.svg.png?20200912122019" alt="" class="w-full p-5">
                <div class="p-6">
                    <h2 class="font-bold mb-2 text-2xl text-purple-800">{{title}}</h2>
                    <p class="text-purple-700 mb-2">{{description}}</p>
                    <p class="text-purple-700 mb-2">Price: ${{price}}</p>
                    <p class="text-purple-700 mb-2">Category: {{category}}</p>
                    <div class="flex align-center justify-center">
                        <button class="bg-purple-800 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded"> Add to Cart </button>
                    </div>
                </div>

            </div>
        </div>
    {{/each}}

</div>

<div class="mt-5 border-gray-500 flex justify-between align-center px-10">
    <p class="text-gray-400">Page {{currentPage}} of {{totalPages}} </p>
    <div class="flex gap-5">
        {{#if hasPrevPage}}
            <a  class="border-2 rounded px-5 py-2 border-gray-400 text-gray-400" href="/products?page={{prevPage}}"> Prev </a>
        {{/if}}
        {{#if hasNextPage}}
            <a class="border-2 rounded px-5 py-2 border-gray-400 text-gray-400" href="/products?page={{nextPage}}"> Next </a>
        {{/if}} 
        
    </div>
</div>

